:root {
    --bg-color: #2a2e30;
}

body {
    background-color: var(--bg-color);
}

body,
a {
    color: #fff;
}

h1 {
    margin: 0.5em 0;
}

input {
    padding: 0.5em;
}

table {
    text-align: left;
    margin: 1em auto;
    background-color: #343637;
    border-radius: 4px;
    width: 300px;
}

td,
th {
    padding: 0.5em;
}

button,
input[type="submit"] {
    background-color: #fff;
    border: solid 1px var(--bg-color);
    border-radius: 4px;
    padding: 1em 1.5em;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;

    transition: all 200ms ease-in-out;
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    background-color: var(--bg-color);
    color: #fff;
    border: solid 1px #fff;
}

dialog button {
    margin: 0 0.5em;
}

dialog {
    border-radius: 4px;
    border: none;
    z-index: 5;
}

dialog::backdrop {
    background: hsla(0, 0%, 0%, 0.5);
}

dialog img {
    width: 100%;
}

.clickable {
    cursor: pointer;
}

.App {
    text-align: center;
}

header {
    max-width: 100%;
    min-height: 4rem;
}

.header-btn {
    position: absolute;
    z-index: 20;
    right: 1em;
    top: 1em;
    transition: transform 300ms ease-in-out;
}

.header-btn:hover,
.header-btn:focus {
    transform: rotate(90deg);
}

.main-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 10;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(32, 32, 32);
}

.main-nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 1em;
    margin: 0;
    gap: 1em;

    font-size: 2.5rem;
}

.main-nav a {
    text-decoration: none;
    font-weight: 700;
}

.main-nav a:hover,
.main-nav a:focus {
    color: rgb(255, 147, 147);
    text-decoration: underline;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.logo img {
    max-width: 100vw;
    max-height: 80vh;
}

#sign-up,
.login-form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 0 auto;
    padding: 1rem;
    max-width: 340px;
}

.error-msg {
    background-color: rgba(255, 147, 147, 0.541);
    padding: 1rem;
}

video {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

video,
canvas {
    display: block;
    max-width: 100%;
    margin: 1em auto;
}

.vid-margin {
    margin: 1em;
}

/* FRAMES, oklart om detta ska vara med */
/* canvas { */
/* border: 20px solid transparent;
  padding: 15px;
  border-image: url(https://www.gardendesign.com/pictures/images/675x529Max/site_3/helianthus-yellow-flower-pixabay_11863.jpg)
    30 round; */
/* padding: 15px; */
/* border: 30px solid transparent;
  border-image: url(https://images.all-free-download.com/images/graphiclarge/flower_frame_310303.jpg);
  border-image-slice: 50;
  border-image-outset: 0.2;
  background-color: white; */
/* } */

/* FILTER */
.filter {
    display: flex;
    flex-direction: column;
    padding: 1em 1.5em;
}
.filter select {
    width: 10vw;
    align-self: center;
    padding: 0;
}
.filter select:focus {
    outline: 0;
}

.gray {
    filter: grayscale(100%);
}
.blur {
    filter: blur(5px);
}
.sepia {
    filter: sepia(1);
}
.low_fi {
    filter: saturate(1.2) contrast(2);
}
.contrast {
    filter: contrast(3);
}

.toggle-visibility {
    display: none;
}

#profile p:last-of-type:hover {
    cursor: pointer;
}

/* IMAGE GALLERY STYLING */

.gallery-grid {
    display: grid;
    max-width: 1240px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 1em;
    gap: 1em;
}

.gallery-img-box {
    position: relative;
}

.gallery-img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.gallery-img-btn {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 1.5em;
    height: 1.5em;
    padding: 0.25em;

    border-radius: 50%;
    border: 2px solid var(--bg-color);
    background-color: #fff;

    opacity: 0.5;
    cursor: pointer;
}

.gallery-img-btn:hover,
.gallery-img-btn:focus {
    opacity: 1;
}

.caption {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.caption p {
    margin: 0.5em;
}
.caption img {
    width: 1em;
    height: 1em;
    cursor: pointer;
}

.dialog-share-field {
    margin: 1em;
}

.share-btn {
    padding: 0.35em 0.5em;
}

@media screen and (min-width: 680px) {
    .gallery-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1240px) {
    .gallery-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0 auto;
    }
}

.delete-dialog {
    z-index: 5;
}
.info-dialog {
    z-index: 5;
}
