.App {
    text-align: center;
}

.main-navigation {
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.main-navigation ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 1em;
}

#sign-up,
.login-form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 0 auto;
    padding: 1rem;
    max-width: 340px;
}

button,
input {
    padding: 0.5em;
}

video {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.toggleVideo {
    display: none;
}
video,
canvas {
    display: block;
    max-width: 100%;
    margin: 1em auto;
}

section canvas {
    border: 1px solid black;
}

.gallery-img-box {
    max-width: fit-content;
    position: relative;
}

.gallery-img-btn {
    position: absolute;
    top: 0;
    left: 0;
}

.gallery-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gallery-grid div {
  display: flex;
  flex-direction: column;
}

.gallery-grid div img {
  width: 20vw;
}
